[profile.default]
auto_detect_solc = false
src = "src"
out = "out"
test = "test"
libs = ["lib"]
solc = "0.8.23"
evm_version = "london"
optimizer = true
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options


[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 132
  multiline_func_header = "all"
  number_underscore = "preserve"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true